@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@font-face {
  font-family: "Gouranga-Pixel";
  src:
    url("sources/font/Gouranga-Pixel.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

canvas{
  background-color: blue;
}

.container{
  position: absolute;
  /* background-color: rgb(233, 34, 150); */
  height: 100vh;
  width: 100vw;
  
}

.profileLinks_container{
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  top: calc(100vh/2*(9/16)*1);
  left: calc((100vw/2) - (20vh));
  /* background-color: rgb(233, 187, 34); */
  display: none;
  width: 40vh;
}


img{
  width: calc(100vh/15);
  margin: calc(100vh/100) calc(100vh/50);
}

.controller{
  /* background-color: rgb(34, 233, 140); */
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-end; */
  width: 100%;
}

.btn{
  /* background-color: rgb(47, 34, 233); */
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin: 0 10px 10px;
 
}

.btn_control{
  background-image: url('sources/img/ui/controller/cross.png');
  background-size: 100%;
}
.btn_action{
  background-image: url('sources/img/ui/controller/btn.png');
  background-size: 100%;
}

.btn_control,
.btn_action{
  /* background-color: rgb(213, 233, 34); */
  flex-direction: column;
  width: 180px;
  height: 180px;
}



.btn_control_container{
  /* background-color: rgb(116, 82, 172); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn_move{
  /* background-color: red; */
  width: 60px;
  height: 60px;
} 
